*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* bg rgb(219, 209, 209) == #e8f1f5 */
/* #005b96 == #03396c */
/* rgb(219, 209, 209) == #03396c */
body{
  background-color: #e8f1f5;
  overflow-x: hidden;
}
.heading{
  font-size: 30px;
  text-align: center;
  background-color: #005b96;
  color: white;
  padding: 25px;
  width: 100vw;
}
.EnterListItem{
  width: 80vw;
  height: 55px;
  font-size: 25px;
  margin: 0px auto;
}
.parentContainer{
  margin: 15px auto;
  /* background-color: blue; */
  width: 90vw;
  display: flex;
}
.addIcon{
  font-size: 35px;
  width: 10vw;
  height: 58px;
  cursor: pointer;
}
.displayListContainer{
  /* height: 50vh; */
  /* overflow-y: auto; */
  width: 100vw;
  text-align: center;
}
.list{
  width: 70vw;
  margin: auto;
}
.listItem{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: #005b96;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  color: white;
  margin-bottom:5px;
}
.listItem ion-icon{
  /* position: absolute; */
  /* right: 16vw; */
  font-size: 20px;
  color: black;
  margin-right: 3px;
  background-color: rgb(219, 209, 209);
  cursor: pointer;
  padding: 3px;
  transition: 500ms;
}
.listItem ion-icon:hover{
  background-color: red;
  color: white;
}
.listItem li{
  display: inline;
}

footer{
  width: 100vw;
  padding: 30px;
  /* position: absolute;
  bottom: 0px; */
  flex-wrap: wrap;
  background-color: #005b96;
  color: white;
  margin-top: 25vh;
  display: flex;
  justify-content: space-around;
}
footer p{
  font-size: 30px;
  text-align: center;
}

footer div ion-icon{
  /* display: flex; */
  /* flex-direction: row; */
  width: 50px;
  padding: 7px;
  border-radius: 5px;
  font-size: 35px;
  cursor: pointer;
  transition: 500ms;
}
footer div ion-icon:hover{
  color: #005b96;
  background-color: white;
}
@media (max-width: 992px) {
    footer{
      flex-direction: column;
      gap: 10px;
    }
    footer div{
      display: flex;
      justify-content: space-around;
    }
}